.dash__exp_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eef1f4;
  padding: clamp(0.5rem, 1vw, 1rem);
  border-radius: 8px;
  gap: clamp(0.5rem, 1vw, 1rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: all 0.3s ease;
}

.dash__exp_item:hover,
.dash__exp_item:active {
  scale: 1.02;
  box-shadow: 0 0 0.35rem #412c433b;
}

.dash__exp_text {
  font-weight: bold;
  color: #333;
  font-size: clamp(0.85rem, 1.5vw, 1rem);
}

.dash__exp_category {
  color: #555;
  font-size: clamp(0.7rem, 1.2vw, 0.9rem);
  text-transform: capitalize;
}

.dash__exp_amount {
  color: #007bff;
  font-weight: bold;
  font-size: clamp(0.9rem, 1.6vw, 1.1rem);
}

.dash__exp_status {
  background-color: #d1e7dd;
  color: #0f5132;
  padding: 0.2rem clamp(0.4rem, 1vw, 0.6rem);
  border-radius: 12px;
  font-size: clamp(0.65rem, 1.1vw, 0.75rem);
  text-transform: capitalize;
  text-align: center;
}

.dash__exp_btn {
  border: none;
  background: transparent;
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: #dc3545;
  cursor: pointer;
}

.dash__exp_updateBtn {
  cursor: pointer;
  color: #fff;
  font-weight: 900;
  border: 1px solid var(--color-main-sub);
  padding: clamp(2px, 0.5vw, 4px) clamp(6px, 1vw, 10px);
  border-radius: 12px;
  background-color: var(--color-main);
  transition: all 0.2s ease;
  font-size: clamp(0.75rem, 1.3vw, 0.9rem);
}

.dash__exp_updateBtn:hover,
.dash__exp_updateBtn:active {
  scale: 1.04;
  box-shadow: 0 0 0.35rem var(--color-main-sub);
}
